{% extends "pizzas/base.html" %}

{% block content %}
                <ul>
                    {% for pizza in pizzas %}
                       <li>
                           <a href="{% url 'pizzas:pizza_toping' pizza.id %}">{{ pizza }}</a>
                       </li>
                       {% empty %}
                            <li>К сожалению сейчас пиццы нет....</li>
                       {% endfor %}
                   </ul>
            {% endblock content %}