{% extends "pizzas/base.html" %}

{% block content %}
    <p>{{ pizza }} может быть дополнена следующими ингридиентами:</p>

                <ul>
                    {% for topping in toppings %}
                       <li>{{ topping }}</li>
                       {% empty %}
                            <li>К сожалению для этой пиццы у нас нет дополнений....</li>
                       {% endfor %}
                   </ul>
            {% endblock content %}